.counter-container{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.counter-wrapper{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 30px;
    width: 100px;
    border: 3px solid rgb(146, 145, 145);
    border-radius: 5px;
    font-size: 1.1em;
}

.counter-button-plus-active, .counter-button-minus-active{
    cursor: pointer;
    color:red;
    border: none;
    background: transparent;
    font-size: 1.1em;
    font-weight: bold;
}

.counter-button-minus-desactive{
    cursor: pointer;
    color:rgb(63, 63, 63);
    border: none;
    background: transparent;
    font-size: 1.1em;
    font-weight: bold;
}